@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background-color: #e3ebff;
    display: flex;
    justify-content: center;

}

main {
    background-image: url(back.svg);
    background-repeat: no-repeat;
    background-position-y: -15px;
    background-position: top;
    background-color: #fff;
    border-radius: 25px;
    padding: 30px;
    margin: 20px;
    display: flex;
    max-width: 500px;
    min-width: 340px;
    flex-direction: column;
    align-items: center;
    box-shadow: 4px 4px 12px rgba(190, 190, 190, 0.8);
}

h1 {
    color: white;
    font-weight: 400;
    font-size: 45px;
    margin: 10px;
    text-align: center;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
}


input {
    display: flex;
    border-radius: 5px;
    border: 2px solid #dfdfdf;
    width: 320px;
    font-size: 20px;
    padding: 10px;
    transition: 0.3s ease;
    margin: 20px 0;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}


.wrong {
    background-color: rgb(255, 214, 222);
    color: crimson;
    transition: 0.3s ease;
}


::placeholder {
    text-align: end;
    padding: 10px;
    color: #c7c7c7;
    font-weight: 300
}

.btnGrp {
    display: inline-flex;

}

button {
    display: flex;
    justify-content: center;
    font-size: 20px;
    background-color: white;
    color: cornflowerblue;
    border: none;
    border-radius: 5px;
    width: 150px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease;
    border: 1px solid royalblue;
}

button:hover {
    background-color: royalblue;
    color: #fff;
    transition: 0.3s ease;
}

#temiz {
    background-color: white;
    border: 1px solid crimson;
    color: crimson;
    transition: 0.3s ease;
}

#temiz:hover {
    background-color: crimson;
    border: 1px solid crimson;
    color: white;
    transition: 0.3s ease;
}


table {
    border-collapse: collapse;
    width: 90%;
    margin: 20px;
    margin-top: 50px;
}

tr {
    border-bottom: 1px solid #dfdfdf;
    transition: 0.3s ease;
}

tr:hover {
    background-color: #f2f6ff;
    transition: 0.3s ease;
}

td,
th {

    padding: 12px;
    font-size: 17px;
    text-align: start;
}

th {
    font-size: 21px;

}

tr.sub td {
    font-weight: bold;
    font-size: 18px;

}

tr [id] {
    text-align: end;
    min-width: 120px;

}

/*-----------------------------------*/

@media (max-width:500px) {
    body {
        margin: 5px;
    }

    h1 {
        font-size: 35px;

    }

    main {
        width: 100%;
        padding: 20px 10px;
        background-position-y: 0px;
    }

    input {
        margin: 5px 0;
    }

    table {
        margin: 0;
        width: 100%;
    }
}